COMPOSE_PROJECT_NAME=utm-test
INFLUXDB_VERSION=1.11
TELEGRAF_VERSION=1.32-alpine
GRAFANA_VERSION=11.4.0
INFLUXDB_PORT=8086
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
SYN_INTERVAL_SECONDS=10
